.main{
    display: flex;
    flex-direction: row;
    padding-top: 110px;
    justify-content: space-around;
    min-width: 100vw;
    background-image: url('../images/carpark.jpg');
    background-size: cover; 
    background-position: center; 

    
}


  @media (min-width: 1200px) { 
    *{
        box-sizing: border-box;
        margin:0;
        padding: 0;
        max-width: 100%;
        overflow-x: hidden; 
    }
  }
  