*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.all{
  display: flex;
  flex-direction: column;
  margin-top: 90px;
}
body{
  margin: 0;
}
.middle-content{
  display: flex;
  flex-direction: column;
  background-image: url(../../image/packages/packagesBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 30px;
  padding-right: 30px;
}
