.review{
  display: flex;
  flex-direction: column;
  border: solid;
  width: 25%; 
  padding: 10px;
  min-width: 300px;
  height: 300px;
  margin: 1px 10px;
  cursor: pointer;
  border: none;
  background: linear-gradient(45deg,#292c42 ,#495082);
  transition: 0.5s;
}
.review:hover{
  height: 330px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.review-header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.review .review-header .user-img{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin-right: 10px;
}
.review-user-img{
  height: 100%;
  width: 100%;
  border-radius: 20px;
}
.review .review-header .user-name{
  font-weight: bold;
  font-size: 16px;
}
.review-body{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.review-discription{
  font-size: 15px;
  color: white;
}
.star-rating {
  font-size: 1.5em;
  color: #ccc;
}
.star-rating .filled {
  color: #f5b301; 
}
.main-scroll-div{
  width: 90%;
  height: 100%;
  margin-left: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #321661;
  margin-top: 20px;
  margin-bottom: 90px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.cover{
  position: relative;
  width: 90%;
  height: 50%;
}
.scroll-reviews{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: auto;
  position: relative;
  scroll-behavior: smooth;
}
.user-name{
  color: white;
}