* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }



.contact{
    min-height: 100vh;
    background-image: url(../image/img4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    padding: 50px;
    text-align: center;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    margin-top: 100px;  
    background-color: #bad8f6;  
    padding: 20px;
    border-radius: 10px;
}

.container h2{
    font-size: 36px;
    margin-bottom: 40px;
    color: #333;
}

.contact-wrapper{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-gap: 30px;

}
.contact-form{
   text-align: left;

}
.contact-form h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: #333; 
}

.form-group{
    margin-bottom: 20px;
}

.form-group input:hover{
    opacity: 85%;
}
.form-group textarea:hover{
    opacity: 85%;
}

input,textarea{
    width: 100%;
    padding: 12px;
    max-width: 400px;
    border-radius: 8px;
    border: none;
    background-color: #f8f9fa;
    color: #333;
}

button{
    display: inline-block;
    padding: 12px 24px;
    background-color: #4166eb;
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
button:hover{
    opacity: 80%;
}

.contact-info{
    text-align: left;  
}

.contact-info h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.contact-info p{
    margin-bottom: 10px;
    color: #555;
}
