body {
    font-family: Arial, sans-serif;
    background-color: #2ea6ce;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.success {
    background-color: #b6b7b9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 400px;
    width: 100%;
}

h2 {
    color: #0b0f0b;
    font-size: 24px;
    margin-bottom: 20px;
}

.thankyou p {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}
.delete
{
    background-color: #b6b7b9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 400px;
    width: 100%;
}